<h1 style="text-align: center"> Case Registeration Form</h1>

<div class="row" >
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Full Name</label>
      <input [(ngModel)]="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Age</label>
      <input [(ngModel)]="age" type="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Height(in feet)</label>
      <input [(ngModel)]="height" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">City</label>
      <input [(ngModel)]="city" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">State</label>
      <input [(ngModel)]="state" type="text" class="form-control" >
    </div>

    <div class="form-group">
        <label for="">Country</label>
        <input [(ngModel)]="country" type="text" class="form-control">
      </div>
    <div class="form-group">
        <label for="">Blood Group</label>
        <input [(ngModel)]="bg" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Gendor</label>
        <input type="radio" value="Male" [(ngModel)]="gendor">Male 
        <input type="radio" value="Female"[(ngModel)]="gendor">Female
      </div>
      <div class="form-group">
        <label for="">Date Of Birth(yyyy-MM-dd)</label>
        <input [(ngModel)]="dob" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Missing Date(yyyy-MM-dd)</label>
        <input [(ngModel)]="missdate" type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="">Complainant Number</label>
        <input [(ngModel)]="compnum" type="text" class="form-control">
      </div>
    <div class="form-group" style="text-align: center;">
        <button (click)="onRegister()" class="btn btn-success">Register</button>
    </div>
  </div>
</div>
