
<div class="row" style="background: #092930;color: white;">
    <div class="col-md-12">
    <div class="form-group" style="text-align: center;">
        <h1 style="text-align: center"> Case Registeration Form</h1>
  </div>
  </div>
  </div>
  <br>
<div class="row" >
  <div class="col-md-1"> </div>
  <div class="col-md-5" style="text-align: left;">
      <div class="form-group">
          <label for="">Full Name</label>
          <input [(ngModel)]="god.name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Age</label>
          <input [(ngModel)]="god.age" type="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Gender  </label>
            <br>
             <input type="radio" value="MALE" [(ngModel)]="god.gendor"> Male 
             <input type="radio" value="FEMALE"[(ngModel)]="god.gendor"> Female
               <input type="radio" value="OTHER"[(ngModel)]="god.gendor"> Other
            
         </div>
        <div class="form-group">
              <label for="">Height(in feet)</label>
              <input [(ngModel)]="god.height" type="text" class="form-control">
       </div>
       <div class="form-group">
          <label for="">Blood Group</label>
          <input [(ngModel)]="god.bgrp" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Date Of Birth(yyyy-MM-dd)</label>
          <input [(ngModel)]="god.dob" type="text" class="form-control">
        </div>
       <div class="form-group">
         <label for="Profile Picture"><b>Profile Picture</b></label>
        <input (change)="onSelectFile($event)" style="border: none;color: brown;" type="file" class="form-control">

        </div>
     
        
      </div>
  <div class="col-md-5" style="text-align: left;">
    <div class="form-group">
      <label for="">City</label>
      <input [(ngModel)]="god.city" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">State</label>
      <input [(ngModel)]="god.state" type="text" class="form-control" >
    </div>

    <div class="form-group">
        <label for="">Country</label>
        <input [(ngModel)]="god.country" type="text" class="form-control">
      </div>
   <div class="form-group">
        <label for="">Phone number of missing person</label>
        <input [(ngModel)]="god.phoneno" type="text" class="form-control">
      </div>
      <div class="form-group">
          <label for="">Missing Date(yyyy-MM-dd)</label>
          <input [(ngModel)]="god.missingDate" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Complainant number</label>
            <input [(ngModel)]="god.complainantNo" type="text" class="form-control">
          </div>
   </div>
</div>
<div class="row">
  <div class="col-md-12">
  <div class="form-group" style="text-align: center;">
    <button (click)="onRegister()" class="btn btn-success">Register</button>
</div>
</div>
</div>

