<div class="col-md-3">
    <div class="jumbotron" style="text-align: left;">
        <h2>News</h2>
        <p> Contents to be added... </p>
        </div>
    
</div>
<div class="col-md-8"> 
<div class="jumbotron">
    <div class="container">
      <h1>Welcome to NGO Home</h1>
      <p style="text-align: justify;"> This portal is help to manage human anti-trafficking
          cases for police and releated NGO's.  </p>
        <h3 style="font-weight: 600;"> What is Human Trafficking ?</h3>
        <p> ...static data...</p>
    </div>
  </div>