<h1>List Of All Cases</h1>
<br>
    
  <div class="table-responsive">
    
  <table class="table table-striped table-hover" style="text-align: left;">
          <thead>
              <tr>
                  <th> Id</th>
                 <th> Name</th>
                  <th> Age</th> 
                  <th> Image </th>
                  <th> Status </th>
                  <th> Remove Case</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let case of cases">
                  <td> {{case.appNo}}</td>
                  <td> {{case.name}}</td>
                  <td> {{case.age}} </td>
                  <td>  <img src="data:image/gif;base64,{{case.img}}" alt="photo" style="height: 100px;width: 100px;position: relative;">
                  </td>
                  <td> {{case.status}}</td>
   
                  <td> 
                      
                   <button type="button" class="btn btn-success" (click)="RemoveCase(case.appNo)">Remove</button>
                      
                  </td>
              </tr>
          </tbody>
      </table>
      
  </div>