<div class="row" style="background: #193815;color: white;">
  <div class="col-md-12">
  <div class="form-group" style="text-align: center;">
      <h1 style="text-align: center">Search Missing Person</h1>
</div>
</div>
</div>
<br>
<div class="form-group" style="text-align: left;">
    <label for="Name" >Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="enter name of missing person"
    [(ngModel)]="name" required    >
</div>
  <button type="button" (click)="onSearch()" class="btn btn-primary">Search By Name</button>
<br>
<br>
<div class="table-responsive" id="myDiv">
  <table class="table table-striped table-hover">
     
  <tbody>
    <tr>
        <td colspan="4" style="text-align: center;">
          <img src="data:image/gif;base64,{{vic.img}}" alt="photo" style="height: 200px;width: 200px;position: relative;">
        </td>
      </tr>
      
        <tr>
               <td> <h5>Application Number :</h5> </td> <td>{{vic.appNo}} </td>

             <td> <h5>   Person Name:</h5></td><td> {{vic.name}} </td>

            </tr>
            <tr>

               <td><h5> Age :</h5> </td><td>{{vic.age}} </td>

                 <td> <h5> Gender :</h5> </td><td>  {{vic.gendor}} </td>
    
                </tr>
                <tr>
                        <td><h5> Height :</h5></td><td>  {{vic.height}} </td>
    
                        <td><h5>Blood Group :</h5></td><td>  {{vic.bgrp}} </td>
                 </tr>

                <tr>
                        <td><h5>Date Of Birth :</h5></td><td>  {{vic.dob}} </td>
        
                        <td> <h5>Missing Date :</h5></td><td> {{vic.missingDate}} </td>
        
                    </tr>
                    <tr>
                            <td> <h5>Complainant Number :</h5></td><td> {{vic.complainantNo}} </td>
               
                            <td> <h5> City :</h5> </td><td> {{vic.city}} </td>
                             
                   </tr>
                   <tr>
                        <td> <h5>State :</h5> </td><td> {{vic.state}} </td>
            
                        <td> <h5>Country :</h5> </td><td> {{vic.country}} </td>
               
                   </tr>
                   <tr>
                        <td> <h5>Phone Number : </h5></td><td>  {{vic.phoneno}} </td>
        
                        <td> <h5>Status</h5></td><td>  {{vic.status}} </td>
       
                   </tr>
</tbody>
</table>

    
</div>