<h1>List of all NGO's Currently associated with us</h1>
<div class="table-responsive">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th> NGO id</th>

                <th> NGO Name</th>
                <th> NGO User Name</th>
                <th> NGO User Email</th>

                <th> Send </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ngo of ngolist">
                <td> {{ngo.ngoId}}</td>

                <td> {{ngo.ngoname}}</td>

                <td> {{ngo.name}}</td>

                <td> {{ngo.email}} </td>

                <td> 
                    
                 <button type="button" class="btn btn-success" (click)="SendMessage(ngo.email)">Send Message</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    
</div>