<h1>List of all Users Currently associated with us</h1>
<div class="table-responsive">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th> Id</th>

                <th> Name</th>
                <th> Email</th>
                <th> Role</th>

                <th> Send </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ngo of ngolist">
                <td> {{ngo.uid}}</td>

                <td> {{ngo.name}}</td>

                <td> {{ngo.email}}</td>

                <td> {{ngo.role}} </td>

                <td> 
                    
                 <button type="button" class="btn btn-success" (click)="SendMessage(ngo.email)">Send Message</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    
</div>