<br>
<div class="container-fluid" style=" width: 100%;height: 150px;" >
  <div class="row">
   <div class="col-md-2">
     <img src="assets/logo.jpg" style="height: 150px;width: 150px;">
   </div>
   <div class="col-md-9" style="font-family:'Times New Roman', Times, serif ;">
     <h1 style="font-weight: 600;">NATIONAL HUMAN RIGHTS COMMISSION, INDIA</h1>
     <h2>Human Anti-Trafficking Portal</h2>
   </div>
   <div class="col-md-1">

   </div>
   <input type="button" class="btn btn-danger" value="logout" (click)="logout()">
  </div>
  
 </div>
<br>
<nav class="navbar navbar-inverse" style="left: 2%; width: 96%;">
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/admin/adminhome">Home</a></li>
              <li><a routerLink="/admin/users">Users</a></li>
              <li><a routerLink="/admin/allcases">Cases</a></li>
              <li><a routerLink="/admin/adduser">Add user</a></li>
              <li><a routerLink="/admin/searchpc">Search</a></li>
              <li><a routerLink="/admin/addngpo">Add NGO/POLICE</a></li>
              <li><a routerLink="/admin/admininbox">Inbox</a></li>
              <li><a routerLink="/admin/requests">Requests</a></li>
              <li><a routerLink="/admin/searchuser">Search User</a></li>
            </ul>
          </div>
     
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-md-12 ">
              <router-outlet></router-outlet>
            </div>
        </div>
      </div>
            
            <div class="row" style="background: black;">
                <div class="col-md-12">
                    <footer class="container-fluid text-center">
                        <p style="color: white;">This portal is developed for CDAC project by Vaibhav Aware</p>
                    </footer>            
                </div>  
                </div>
      
      


