
<div class="row" style="height: 70px;">
  <div class="col-md-12">
    <h1>Admin Home</h1>
      <input type="button" class="btn btn-danger" value="logout" (click)="logout()" 
      style="position: absolute; top: 30px;left: 1200px;" >       
  </div>
 </div>
<br>
<nav class="navbar navbar-inverse" style="left: 2%; width: 96%;">
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/admin/adminhome">Home</a></li>
              <li><a routerLink="/admin/users">Users</a></li>
              <li><a routerLink="/admin/allcases">Cases</a></li>
              <li><a routerLink="/admin/adduser">Add user</a></li>
              <li><a routerLink="/admin/search">Search</a></li>
              <li><a routerLink="/admin/admininbox">Inbox</a></li>
            </ul>
          </div>
     
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-md-3 sidenav">
            
            <div class="jumbotron" style="text-align: left;">
              <h2>News</h2>
              <p> Contents to be added... </p>
              </div>
          </div>
          <div class="col-md-9 text-left"> 
              <router-outlet></router-outlet>
            </div>
            
  <div class="row">
  <div class="col-md-12">
    <footer class="container-fluid text-center">
        <p>This portal is developed under CDAC project by Vaibhav Aware</p>
      </footer>

  </div>
</div>
      


