<br>
<div class="container" style="background-color:yellow; width: 96%;
 height: 130px;" >
 <h1>Government Of India</h1>
 <h2>Anti-Trafficking Portal</h2>

 <input type="button" class="btn btn-danger" value="logout" (click)="logout()" 
 style="position: absolute; top: 30px;left: 1200px;" >  
</div>
<br>
<nav class="navbar " style="left: 2%; width: 96%;background:lightblue;">
        
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/ngo/ngohome">Home</a></li>
              <li><a routerLink="/ngo/ngcases">Cases</a></li>
              <li><a routerLink="/ngo/ngsearch">Search</a></li>
              <li><a routerLink="/ngo/ngoinbox">Inbox</a></li>
              <li><a routerLink="/ngo/ngusers">Users</a></li>
            </ul>
          </div>

      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-md-1"></div>
          <div class="col-md-10">
             <router-outlet></router-outlet>
            </div>
      </div>
      </div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <footer class="container-fluid text-center">
      <p>This portal is developed Under CDAC project by Vaibhav Aware</p>
    </footer>
  </div>
</div>
</div>
    

