<br>
<div class="container-fluid" style=" width: 100%;height: 150px;" >
    <div class="row">
     <div class="col-md-1">
       <img src="assets/logo.jpg" style="height: 150px;width: 120px;">
     </div>
     <div class="col-md-10" style="font-family:'Times New Roman', Times, serif ;">
       <h1 style="font-weight: 600;">NATIONAL HUMAN RIGHTS COMMISSION, INDIA</h1>
       <h2>Human Anti-Trafficking Portal</h2>
     </div>
     <div class="col-md-1">

     </div>
     <input type="button" class="btn btn-danger" value="logout" (click)="logout()">
    </div>
    
   </div>
<!-- <div class="container" style="background-color: cornflowerblue; width: 96%;
 height: 130px;" >
 <h1>Government Of India</h1>
 <h2>Anti-Trafficking Portal</h2>

 <input type="button" class="btn btn-danger" value="logout" (click)="logout()" 
 style="position: absolute; top: 30px;left: 1200px;" >  
</div> -->
<br>
<nav class="navbar " style="left: 2%; width: 97%;background:#0f1629;">
        <div class="container-fluid">
           
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/policehome/police">Home</a></li>
              <li><a  routerLink="/policehome/regcase">Register Case</a></li>
              <li><a  routerLink="/policehome/cases">Cases</a></li>
              <li><a  routerLink="/policehome/search">Search</a></li>
              <li>
                <a  routerLink="/policehome/inbox">Inbox</a>
              </li>
              <li>
                <a routerLink="/policehome/ngolist">Users</a>
              </li>

              <li>
                  <a routerLink="/policehome/updatepolice">Update Profile</a>
                </li>
            </ul>
          </div>

        </div>
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-md-12 ">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>

   
      <div class="row" style="background: #051e2e;">
          <div class="col-md-12">
              <footer class="container-fluid text-center">
                  <p style="color: white;">This portal is developed for CDAC project by Vaibhav Aware</p>
              </footer>            
          </div>  
          </div>

