<h1>Search Missing Victim</h1>
<div class="form-group">
    <label for="Email" >UserName</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="enter name"
    [(ngModel)]="username" required    >
</div>
  <button type="button" (click)="onSearch()" class="btn btn-primary">Search By Name</button>
<br>
     <div class="table-responsive" id="myDiv">
<table>
  <tr>
    Application Id :<td> {{map.appNo}}</td>
    Name :<td> {{map.name}}</td>
  </tr>
  <tr>
    Age :<td> {{map.age}}</td>
    Gender :<td> {{map.gendor}}</td>
  </tr>
  <tr>
    Height :<td> {{map.height}}</td>
    Blood Group :<td> {{map.bgrp}}</td>
  </tr>
  <tr>
    Date Of Birth :<td> {{map.dob}}</td>
    Missing Date :<td> {{map.missingDate}}</td>
  </tr>
  <tr>
    City :<td> {{map.city}}</td>
    State :<td> {{map.state}}</td>
  </tr>

  <tr>
    Country :<td> {{map.country}}</td>
    Phone no :<td> {{map.phoneno}}</td>
  </tr>

  <tr>
    Complainant Number :<td> {{map.complainantNo}}</td>
    Status :<td> {{map.status}}</td>
  </tr>
</table>
    
  </div>
