  
  <div class="row">
      <div class="col-md-12">

    <div class="jumbotron">
            <div class="container">
                    <h1>Welcome, {{name}}</h1>
                    <h3 style="text-align: justify;"> This portal is devloped for managing human anti-trafficking
                        cases for police and releated Non Government Orgnizations </h3>
                      <br> 
                        <div class="container-fluid" style="text-align: center;">
                          <img src="assets/trafthree.jpg" style="height: 320px;width: 550px;">
                      </div>   
            </div>
      </div>
  </div>
  </div>
  