<h1>List Of Missing Persons</h1>
<br>
    
  <div class="table-responsive">
    
  <table class="table table-striped " style="text-align: left;">
          <thead>
              <tr>
                  <th> Id</th>
                  <th> Name</th>
                  <th> Date Of Birth</th>
                  <th> Age</th> 
                  <th> Image </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let m of map">
                  <td> {{m.appNo}}</td>
                  <td> {{m.name}}</td>
                  <td> {{m.dob}}</td>
                  <td> {{m.age}} </td>
                  <td> {{m.img}} </td>
             </tr>
          </tbody>
      </table>
      
  </div>