<h1>List Of Missing Persons</h1>
<br>
    
  <div class="table-responsive">
    
  <table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th> Id</th>
                  <th> Name</th>
                  <th> Date Of Birth</th>
                  <th> Age</th> 
                  <th> Image </th>
                  <th> Close Case</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let m of map">
                  <td> {{m.appNo}}</td>
  
                  <td> {{m.name}}</td>
  
                  <td> {{m.dob}}</td>
  
                  <td> {{m.age}} </td>
                  <td> <img src="data:image/gif;base64,{{m.img}}" alt="photo" style="height: 100px;width: 100px;">  </td>
  
                  <td> 
                      
                   <button type="button" class="btn btn-success" (click)="CloseCase(m.appNo)">Close Case</button>
                      
                  </td>
              </tr>
          </tbody>
      </table>
      
  </div>