<h1>List Of Registered Cases</h1>
<br>
<div class="table-responsive">
    <table class="table">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Age</th>
          <th scope="col">Image</th> 
      </tr>
      <tr *ngFor="let m of map">
        <td>{{m.appNo}}</td>
        <td>{{m.name}}</td>
        <td>{{m.dob}}</td>
        <td>{{m.age}}</td>
        <td>{{m.img}}</td>
          </tr>
    </table>
    
  </div>